.container-1, .container-2, .container-3 {
  display: flex;
  margin: auto;
}
.container {
  text-align: center;
}
.box {
 width: 1100;
 margin: auto;
}
.divClass {
  width: 27%;
  margin: auto;
}
.textDiv {
  width: 276;
  text-align: justify;
  margin: auto;
   
}
.naslov {
  text-align: center;
}
h3 {
  color:red;  
}
h5 {
  color:rgb(0, 193, 251);
}
img {
  width: 300px;
  height: 200px;
}